@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,100&display=swap');
body{
  background-color: #E5DADA;
}
h1{
  color:  #266150;
}
.topnav {
  background-color:#E59500;
  overflow: hidden;
  position: sticky;
  top:0;
} 

a{
  font-family: "Montserrat",sans-serif;
  color: #002642;
}
nav li{
  display: inline-block;

}
nav ul{
  list-style: none;
  margin-left: 70px;
  margin-right: 250px;
}
.img{
  float: left;
  max-width: 50%;;
}